<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:700' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/admin/dashboard.css">
</head>

<body>
    <div class="grid-container">

        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-right d-flex" style="margin-left: auto;">
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../assets/profile.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>Admin</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2"
                        style="background: linear-gradient(180deg, #6CAFFF 1.5%, #FFFFFF 92.13%);">
                        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- Sidebar -->
        <aside id="sidebar" style="z-index: 20;">
            <div class="sidebar-title" style="font-family: 'Open Sans Condensed';">
                <span class="material-icons-outlined" onclick="closeSidebar()" style="color: #EBEBEB;">close</span>
                <a href="#"
                    class="d-flex align-items-center mt-3 mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="../../assets/pemprovsumbar.png" width="60" height="32" class="img-fluid" alt="...">
                    <span class="fs-4"></span>
                    <h6 class="mt-2" style="color: white; margin-left: 10px; font-size: 16px;">BIRO ORGANISASI <br>
                        <span style="font-size: 13px;">SETDA PROVINSI <br>
                            SUMATERA BARAT</span> </h6>
                </a>
                <hr>
            </div>

            <ul class="nav nav-pills flex-column mb-auto">
                <li style="padding: 2%;">
                    <a href="dashboard.html" class="nav-link dashboard mt-1" aria-current="page"
                        style="letter-spacing: 0.8px; font-weight: 700;font-size: 14px;">
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="penilaian.html" class="nav-link link-dark mt-1"
                        style="letter-spacing: 0.8px; font-weight: 700;">
                        Kriteria Penilaian
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="karyawan.html" class="nav-link link-dark mt-1"
                        style="letter-spacing: 0.8px; font-weight: 700;">
                        Pegawai
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="generateKaryawan.html" class="nav-link link-dark mt-1"
                        style="letter-spacing: 0.8px; font-weight: 700;">
                        Generate Pegawai
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="akumulasiHasil.html" class="nav-link link-dark mt-1"
                        style="letter-spacing: 0.8px; font-weight: 700;">
                        Akumulasi Hasil
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="karyawanTerbaik.html" class="nav-link link-dark mt-1"
                        style="letter-spacing: 0.8px; font-weight: 700;">
                        Pegawai Terbaik
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="karyawanTerburuk.html" class="nav-link link-dark mt-1" style="letter-spacing: 0.8px; font-weight: 700;">
                        Pegawai Terburuk
                    </a>
                </li>
            </ul>
        </aside>

        <!-- Main -->
        <main class="main-container mb-1" style="z-index: 10;">
            <div class="card div-main-container mx-auto text-center mt-2 mb-4" style="width: 90%">
                <div class="card-body  ps-5 pe-5" style="color: black;">
                    <div class="row align-items-center">
                        <div class="col-md-7 text-start">
                            <h1 style="font-size: 32px; letter-spacing: 3px; font-weight:bold;">Hello Admin !</h1>
                            <h4 class="mt-3" style="font-size: 18px; font-weight:normal;">Selamat datang di sistem
                                penilaian pegawai! Ayo berikan Feedback atas kinerja rekan Anda</h4>
                        </div>
                        <div class="col-md-5">
                            <img src="../../assets/dachboard.png" class="flex-shrink-0 me-3 ms-5 mb-4 img-fluid"
                                style="height: 288px; width: 288px;" alt="Dashboard">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 ps-2 pe-2">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card align-items-center" style="background-color: #D7FFEA; ">
                            <div class="card-body" style="color: black;">
                                <h5 class="card-title" style="font-weight: 600;">Total Pegawai</h5>
                                <div class="d-flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                        height="48px" viewBox="0 0 24 24" width="48px" fill="#000000">
                                        <rect fill="none" height="24" width="24" />
                                        <g>
                                            <path
                                                d="M12,12.75c1.63,0,3.07,0.39,4.24,0.9c1.08,0.48,1.76,1.56,1.76,2.73L18,18H6l0-1.61c0-1.18,0.68-2.26,1.76-2.73 C8.93,13.14,10.37,12.75,12,12.75z M4,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C2,12.1,2.9,13,4,13z M5.13,14.1 C4.76,14.04,4.39,14,4,14c-0.99,0-1.93,0.21-2.78,0.58C0.48,14.9,0,15.62,0,16.43V18l4.5,0v-1.61C4.5,15.56,4.73,14.78,5.13,14.1z M20,13c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C18,12.1,18.9,13,20,13z M24,16.43c0-0.81-0.48-1.53-1.22-1.85 C21.93,14.21,20.99,14,20,14c-0.39,0-0.76,0.04-1.13,0.1c0.4,0.68,0.63,1.46,0.63,2.29V18l4.5,0V16.43z M12,6c1.66,0,3,1.34,3,3 c0,1.66-1.34,3-3,3s-3-1.34-3-3C9,7.34,10.34,6,12,6z" />
                                        </g>
                                    </svg>
                                    <h1 class="card-text mt-1" style="font-weight:700; margin-left: auto">35</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card align-items-center" style="background-color: #FFF38F; ">
                            <div class="card-body" style="color: black;">
                                <h5 class="card-title text-center" style="font-weight: 600;">Pegawai Terbaik</h5>
                                <div class="d-flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20"
                                        height="48px" viewBox="0 0 20 20" width="48px" fill="#000000">
                                        <g>
                                            <rect fill="none" height="20" width="20" />
                                        </g>
                                        <g>
                                            <g />
                                            <path
                                                d="M15,6h-2V5H7v1H5C4.45,6,4,6.45,4,7v1c0,1.66,1.34,3,3,3h0.18c0.36,1.01,1.24,1.77,2.32,1.95V15H7v1h2.5h1H13v-1h-2.5 v-2.05c1.08-0.18,1.96-0.94,2.32-1.95H13c1.66,0,3-1.34,3-3V7C16,6.45,15.55,6,15,6z M7,10c-1.1,0-2-0.9-2-2V7h2V10z M15,8 c0,1.1-0.9,2-2,2V7h2V8z" />
                                        </g>
                                    </svg>
                                    <h2 class="card-text mt-1" style="font-weight: 800; margin-left: auto">Siti Aminah
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card align-items-center" style="background-color: #FFE5D2; ">
                            <div class="card-body" style="color: black;">
                                <h5 cclass="card-title" style="font-weight: 600;">Total Data Penilain</h5>
                                <div class="d-flex">
                                    <img width="35" height="35" src="https://img.icons8.com/ios/50/bill.png" alt="bill"
                                        class="mt-2" />
                                    <h1 class="card-text mt-1" style="font-weight: 800; margin-left: auto;">35</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card align-items-center" style="background-color: #ECE8F4; ">
                            <div class="card-body" style="color: black;">
                                <h5 cclass="card-title" style="font-weight: 600;">Total Data Pegawai Terbaik</h5>
                                <div class="d-flex mt-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                        height="36px" viewBox="0 0 24 24" width="36px" fill="#000000" class="mt-1">
                                        <rect fill="none" height="24" width="24" />
                                        <g>
                                            <path
                                                d="M7.5,21H2V9h5.5V21z M14.75,3h-5.5v18h5.5V3z M22,11h-5.5v10H22V11z" />
                                        </g>
                                    </svg>
                                    <h1 class="card-text mt-1"
                                        style="font-weight: 800; margin-left: auto; margin-left: auto;">6</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="../../js/scripts.js"></script>

</body>

</html>