<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:700' rel='stylesheet'>
</head>

<body class="vh-100" style="background: linear-gradient(180deg, #FFFF 90%, #C5D9FF 110%);">
    <nav class="navbar navbar-dark bg-dark" style="background: linear-gradient(90deg, #61A0FF 1.5%, #B1EFCA 92.13%);;">
        <div class="container-fluid ms-3 me-3">
            <a href="#" class="d-flex align-items-center mt-1 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="../../assets/pemprovsumbar.png" width="32" height="32" class="img-fluid" alt="...">
                <span class="fs-4"></span>
                <h6 class="mt-1" style="margin-left: 8px; font-size: 14px; font-family: 'Open Sans Condensed';">BIRO
                    ORGANISASI SUMATERA BARAT</h6>
            </a>
            <div class="btn-group">
                <svg class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                    xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                    viewBox="0 0 24 24" width="24px" fill="#000000">
                    <g>
                        <rect fill="none" height="24" width="24" />
                    </g>
                    <g>
                        <g>
                            <g>
                                <path d="M20,9H4v2h16V9z M4,15h16v-2H4V15z" />
                            </g>
                        </g>
                    </g>
                </svg>
                <ul class="dropdown-menu dropdown-menu-end text-small shadow"
                    style="background: linear-gradient(180deg, #6CAFFF 1.5%, #FFFFFF 92.13%); border-radius: 8%;">
                    <li><a class="dropdown-item" href="home.html">Home</a></li>
                    <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main" style="padding: 2%; font-family: 'Poppins';">
        <h5 class="mt-2 ms-3" style="font-weight: 800;">Data Pegawai</h5>
        <p class="mt-2 ms-3" style="font-size: small;">Silahkan lakukan penilaian kinerja terhadap nama dibawah ini</p>
        <br>
        <div class="d-flex flex-column align-items-center justify-content-center"
            style="padding-right: 25%; padding-left: 25%;">
            <table class="table text-center" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 4%;">
                <thead style="background: linear-gradient(180deg, #AEDDFF 1.5%, #97D4FF 92.13%);">
                    <tr>
                        <th scope="col" style="border-top-left-radius: 10px;">No</th>
                        <th scope="col">NIP</th>
                        <th scope="col">Aksi</th>
                        <th scope="col" style="border-top-right-radius: 10px;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>198210182000121001</td>
                        <td id="aksi">
                            <a href="formPenilaian.html">
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="18px"
                                    viewBox="0 0 24 24" width="18px" fill="#000000">
                                    <g>
                                        <path d="M0,0h24v24H0V0z" fill="none" />
                                        <path
                                            d="M11,7h2v2h-2V7z M11,11h2v6h-2V11z M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12,20 c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20z" />
                                    </g>
                                </svg>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-light"
                                style="background-color: #D0E7DC; border-radius: 100px; font-size: smaller; font-weight: 600;">Selesai</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>198003052006042006</td>
                        <td id="aksi">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="18px"
                                viewBox="0 0 24 24" width="18px" fill="#000000">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M11,7h2v2h-2V7z M11,11h2v6h-2V11z M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12,20 c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20z" />
                                </g>
                            </svg>
                        </td>
                        <td>
                            <button type="button" class="btn btn-light"
                                style="background-color: #D0E7DC; border-radius: 100px; font-size: smaller; font-weight: 600;">Selesai</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>198408042008041001</td>
                        <td id="aksi">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="18px"
                                viewBox="0 0 24 24" width="18px" fill="#000000">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M11,7h2v2h-2V7z M11,11h2v6h-2V11z M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12,20 c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20z" />
                                </g>
                            </svg>
                        </td>
                        <td>
                            <button type="button" class="btn btn-light"
                                style="background-color: #D0E7DC; border-radius: 100px; font-size: smaller; font-weight: 600;">Selesai</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>198408042008041001</td>
                        <td id="aksi">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="18px"
                                viewBox="0 0 24 24" width="18px" fill="#000000">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M11,7h2v2h-2V7z M11,11h2v6h-2V11z M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12,20 c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20z" />
                                </g>
                            </svg>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                style="background-color: #FC9F9F; border-color: #FC9F9F; border-radius: 100px; font-size: smaller;">Belum</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>198408042008041001</td>
                        <td id="aksi">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="18px"
                                viewBox="0 0 24 24" width="18px" fill="#000000">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M11,7h2v2h-2V7z M11,11h2v6h-2V11z M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12,20 c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20z" />
                                </g>
                            </svg>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                style="background-color: #FC9F9F; border-color: #FC9F9F; border-radius: 100px; font-size: smaller;">Belum</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>