.navbar-brand {
    color: #000;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;

}

.navbar-nav {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-nav .nav-item {
    margin-bottom: 8px;
}

.dropdown-menu {
    right: 0;
    left: auto;
    background: linear-gradient(180deg, #6CAFFF 0%, #FFFF 100%);
}

.konten {
    color: #000;
    font-family: 'Poppins';
    font-style: normal;

}

.row {
    color: #000;
    font-family: 'Poppins';
    margin-left: 10%;
    margin-right: 10%;
}