.navbar-brand {
    color: #000;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;

}

.navbar-nav {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-nav .nav-item {
    margin-bottom: 8px;
}

.dropdown-menu {
    right: 0;
    left: auto;
    
    background: linear-gradient(180deg, #6CAFFF 0%, rgba(217, 217, 217, 0.00) 100%);
}

.konten {
    color: #000;
    font-family: 'Poppins';
    margin-top: 0%;
    margin-left: 1%;
    font-style: normal;
    margin-bottom: 0%;

}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.fotoprofil {
    margin-left: 10%;
}

.nameKep {
    text-align: center;
    color: #000;
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}



/* Gaya dropdown saat hover */
.custom-dropdown option {
    background: #B4B2B3
}
label{
    color: black;
    font-weight:400;
}
.btn{
    margin-left: 100%;
    background-color: #FA6301;
    color: white;
}
